<div class="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Editar Partida</ion-title>
      <ion-button (click)="goToHome()" color="tertiary"
        ><ion-icon name="home-outline"></ion-icon
      ></ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content  *ngIf="match" [fullscreen]="true">
    <form [formGroup]="matchForm">
      <ion-item>
        <ion-label>Jogo: </ion-label>
   
        <ion-select  formControlName="game"  placeholder="Selecione um jogo">
         
          <ion-select-option *ngFor="let game of games" [value]="game.id">{{game.name}}</ion-select-option>
      
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Jogador 1: </ion-label>
     
        <ion-select  formControlName="player1"  placeholder="Selecione um jogador">
         
          <ion-select-option *ngFor="let player of players" [value]="player.id">{{player.nickname}}</ion-select-option>
      
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Jogador 2: </ion-label> 
     
        <ion-select  formControlName="player2" placeholder="Selecione um jogador">
         
          <ion-select-option *ngFor="let player of players" [value]="player.id">{{player.nickname}}</ion-select-option>
      
        </ion-select>
      </ion-item>   
      <ion-item>
        <ion-label>Duração da partida: </ion-label>
        <ion-input max="3" min="1" type="number" formControlName="time"></ion-input>    
      </ion-item>
      <ion-item>
        <ion-label>Vencedor: </ion-label>
     
        <ion-select  formControlName="winner" placeholder="Selecione um jogador">
         
          <ion-select-option *ngFor="let player of players" [value]="player.id">{{player.nickname}}</ion-select-option>
      
        </ion-select>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" (click)="updateMatch()" color="tertiary"
            >Atualizar</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
    <ion-toast
    [isOpen]="isToastOpen"
    message="Partida Atualizada!"
    [duration]="5000"
  ></ion-toast>
  </ion-content>
</div>
<ion-alert
  [isOpen]="isAlertOpen"
  header="Alerta"
  message={{errorMsg}}
  (didDismiss)="setOpen(false)"
></ion-alert>